@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:wght@400;500&display=swap');

@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#F7F7F7] text-gray-800 font-sans;
  }
}


